{% extends "base.html" %} {% block content %}
  <section class="section-padding bg-gray">
    <div class="container">
      <div class="section-intro text-center pb-90px">
        <h2>Мусаев Уллубий</h2>
        <p>Соискатель</p>
      </div>
      <h4>Инфо:</h4>
      <div class="user-info-div">
        <p>16 лет, Махачкала, Python Dev <br>
          Стек: <br>
          Python junior <br>
          Flask, PyQT5, pygame, OpenCV, sqlite3 <br>
        </p>
      </div>
      <h4>Проекты:</h4>
      <div class="row">
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="card-blog">
            <div class="card-blog-body">
              <a href="#">
                <h4>searchwork site</h4>
              </a>
              <ul class="card-blog-info">
                <li><a href="#"><span class="align-middle"><i class="ti-notepad"></i></span>April 27, 2022</a></li>
                <li><a href="#"><span class="align-middle"><i class="ti-comments-smiley"></i></span>03 Comments</a></li>
              </ul>
              <a href="https://github.com/musaewullubiy/searchwork_site">Ссылка</a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="card-blog">
            <div class="card-blog-body">
              <a href="#">
                <h4>searchwork site</h4>
              </a>
              <ul class="card-blog-info">
                <li><a href="#"><span class="align-middle"><i class="ti-notepad"></i></span>April 27, 2022</a></li>
                <li><a href="#"><span class="align-middle"><i class="ti-comments-smiley"></i></span>03 Comments</a></li>
              </ul>
              <a href="https://github.com/musaewullubiy/searchwork_site">Ссылка</a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="card-blog">
            <div class="card-blog-body">
              <a href="#">
                <h4>searchwork site</h4>
              </a>
              <ul class="card-blog-info">
                <li><a href="#"><span class="align-middle"><i class="ti-notepad"></i></span>April 27, 2022</a></li>
                <li><a href="#"><span class="align-middle"><i class="ti-comments-smiley"></i></span>03 Comments</a></li>
              </ul>
              <a href="https://github.com/musaewullubiy/searchwork_site">Ссылка</a>
            </div>
          </div>
        </div>
        <a class="button calendar-button" href="/calendar">Календарь</a>
      </div>
    </div>
  </section>
{% endblock %}