{% extends "base.html" %} {% block content %}
  <section class="section-padding bg-gray">
    <div class="container">
      <div class="section-intro text-center pb-90px">
        <h2>{{ user.name }} {{ user.surname }}</h2>
        <p>{{ user.user_type }}</p>
      </div>
      <div class="row">
        <h1 class="col">Инфо:</h1>
        {% if current_user.id == user.id %}
          <a class="col-md-2 button calendar-button text-center" href="/add/about">Добавить</a>
        {% endif %}
      </div>
      <div class="user-info-div">
        {% for text in user.about.split('\n') %}
          <p>{{ text }}</p>
        {% endfor %}
      </div>
      <div class="row">
        <h1 class="col">Проекты:</h1>
        {% if current_user.id == user.id %}
          <a class="col-md-2 button calendar-button text-center" href="/add/project">Добавить</a>
        {% endif %}
      </div>
      <a class="button calendar-button text-center" href="/calendar">Календарь</a>
      </div>
    </div>
  </section>
{% endblock %}