{% extends "base.html" %} {% block content %}
<section class="section-padding bg-gray" style="min-height: 730px">
    <div class="container">
        <div class="section-intro text-center pb-90px">
            {% if current_user.id == user.id %}
            <a href="/profile/add-photo">
            {% endif %}
            <img class="rounded-circle" src="{{ url_for('static', filename='profile-img/' + user.photo) }}"
                 width="300" height="300">
            {% if current_user.id == user.id %}
            </a>
            {% endif %}
            <h2>{{ user.name }} {{ user.surname }}</h2>
            <p>{{ user.user_type }}</p>
        </div>
        <div class="row">
            <h1 class="col">Инфо:</h1>
            {% if current_user.id == user.id %}
            <a class="col-md-2 button calendar-button text-center" href="/add-about">Добавить</a>
            {% endif %}
        </div>
        <div class="user-info-div">
            {% for text in user.about.split('\n') %}
            <p>{{ text }}</p>
            {% endfor %}
        </div>
        <div class="row">
            <h1 class="col">Проекты:</h1>
            {% if current_user.id == user.id %}
            <a class="col-md-2 button calendar-button text-center" href="/add-project">Добавить</a>
            {% endif %}
        </div>
        {% for i in range(0, projects|length, 3) %}
        <div class="row">
            {% for project in projects[i: i + 3] %}
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="card-blog">
                    <div class="card-blog-body">
                        <p>
                        <h4>{{ project.title }}</h4>
                        </p>
                        <ul class="card-blog-info">
                            {% if current_user.id == user.id %}
                            <li><a href="/delete-project/{{ project.id }}"><span class="align-middle"><i
                                    class="ti-comments-smiley"></i></span>Удалить</a></li>
                            {% endif %}
                        </ul>
                        <a href="{{ project.link }}">Ссылка</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        <a class="button calendar-button text-center" href="/calendar">Календарь</a>
        <a class="button calendar-button text-center" href="/applications">Заявки</a>
    </div>
    </div>
</section>
{% endblock %}