{% extends "base.html" %}

{% block content %}

<section class="section-padding bg-gray" style="min-height: 730px">
    <h2>{{ vacancy.title }}</h2>
    <div class="row" style="margin: 10px">
    <h5 class="col">{{ vacancy.salary }}<h5>
        {% if current_user.user_type == 'Соискатель' %}
            <a href="/add-appointment/{{ vacancy.hr_manager }}" class="btn btn-primary">
                Откликнуться
            </a>
        {% endif %}
    </div>
    <p>{{ vacancy.text }}</p>

</section>

{% endblock %}